snippet shebang "Add shebang" b
#!/usr/bin/env ansible-playbook
---

endsnippet

snippet play "Initiate play" b
- name: ${1:description}
  hosts: ${2:hostgroup}
  become: ${3:true}
  roles:
    - ${4}
  tasks:
endsnippet
